{# {% extends 'base.html.twig' %} #}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" >

{% block stylesheets %}
    <style>
        .content {
            margin: 20px;
            padding: 20px;
            border: 1px solid green;
            border-radius: 10px;
            background-color: #efefef;
        }

        .content {
            padding: 5px;
            border: 1px solid green;
            border-radius: 5px;
        }

        .centered {
            text-align: center;
        }

        .object {
            padding-left: 20px;
            padding-right: 20px;
        }

        .green-color {
            color: green;
            font-family: "Comic Sans MS", sans-serif;
        }

        #name-com {
            font-size: 60px;
            font-family: "Comic Sans MS", sans-serif;
            color: green;
            text-shadow: 2px 2px 0 white, -2px -2px 0 white, 1px 1px 0 white, -1px -1px 0 white;
        }

        #back-img {
            background-image: url('head.jpg');
            height: 650px;
            width: 1920px;
            background-size: cover;
            background-attachment: fixed;
        }

        #back {
            background-image: url('cells.avif');
        }

    </style>
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}

</head>

{% block body %}

    <div id="back-img">

    </div>

    <div class="centered" id ="back">
        <br/>

        <h1 class="green-color" id="name-com">HERBAL</h1>

        <img class="mb-4" src="/gear-chart-logo/O3IICD1.png" alt="" width="200" height="200">
    </div>

    <div class = "content">

        <h1 class = "h3 mb-3 fw-normal">Регистрация:</h1>

        <div class="object">
            {{ form(registrationForm) }}
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
{% endblock %}